li {
  list-style-type: none;
  display: inline-block;
}

.poke-details-wrapper {
  text-transform: capitalize;
  text-align: center;
  margin:0;
}

.details-flex {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.stats-wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  width: 600px;
  border: 2px red solid;
  align-self: center;
}

.type-style {
  margin-left: 15px;
}

.details-img {
  height: 300px;
}

.details-header {
  width:50%;
}

.height-style {
  padding-left: 45px;
}