.poke-card {
  margin: 30px;
  max-width: 400px;
  min-width: 200px;
  max-height: 300px;
  text-transform: capitalize;
}

.card-link-styles {
  text-decoration: none;
}

.card-link-styles:visited {
  text-decoration: none;
  color:blue;
}

.type-ul {
  padding:0;
  margin: 0;
}

.type-style-container {
  padding:5px;
  margin:5px;
}